DATABASE_URL=
DATABASE_AUTH_TOKEN=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# Google OAuth callback URL should be: <BETTER_AUTH_URL>/auth/callback/google
# Example: http://localhost:3000/auth/callback/google
